<header class="header">
  <div class="container-fluid">
      <a routerLink="/dashboard" class="header__app-logo">
          BriteCore
        </a>

        <ul class="header__nav">
          <li class="header__nav-item">
            <a routerLink="/dashboard" class="header__nav__link">
              <i class="fa fa-umbrella" aria-hidden="true"></i>
              Policies
            </a>
          </li>
          <li class="header__nav-item">
            <a routerLink="/" class="header__nav__link">
              <i class="fa fa-bolt" aria-hidden="true"></i>
              Claims
            </a>
          </li>
          <li class="header__nav-item">
            <a routerLink="/" class="header__nav__link" >
              <i class="fa fa-user" aria-hidden="true"></i>
              Contacts
            </a>
          </li>
          <li class="header__nav-item">
            <a routerLink="/" class="header__nav__link">
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
              Data
            </a>
          </li>
          <li class="header__nav-item">
            <a routerLink="/comercial-property" class="header__nav__link" routerLinkActive="header__nav__link--active">
              <i class="fa fa-book" aria-hidden="true"></i>
              Lines
            </a>
          </li>
          <li class="header__nav-item">
            <a routerLink="/" class="header__nav__link">
              All Modules
            </a>
          </li>
        </ul>

        <div class="clearfix"></div>
  </div>
</header>
<router-outlet></router-outlet>

